<div class='container-show-map'>
  <div class="one">
    <form class='form-inline m-5'>
      <input type="text" id="start-address" class="form-control flex-grow-1 mr-2" placeholder="Start Address">
      <input type="text" id="end-address" class="form-control flex-grow-1 mr-2" placeholder="End Address">
      <input type="submit" value="Geocode!" class="btn btn-primary">
    </form>
  </div>
  <div id="map"
       style="width: 100%; height: 100%;"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
