<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>

<% @messages.each do |message| %>
<%= cl_image_tag message.user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
<%= message.content %>
<% end %>
