<div>
  <h1>Paramètres</h1>
</div>
<div>
  <a href="">Profile</a>
  <a href="">Notifications</a>
  <a href="">Vie privée</a>
</div>

<h2>Profile</h2>

<%= cl_image_tag current_user.photo.key, class: "avatar-profile" %>