<div class="container">
  <div>
    <h1>Paramètres</h1>
  </div>
  <div class="">

  <ul class="list-menu">
    <li><a href="#">Profile</a></li>
    <li><a href="#">Notifications</a></li>
    <li><a href="#">Vie privée</a></li>
  </ul>
    
  </div>

  <div class="d-flex flex-column ">
    <h2>Profile</h2>
    <%= cl_image_tag current_user.photo.key, class: "avatar-profile" %>
    <%= current_user.username %>
  </div>
</div>
