    <div class="petit-mot">
      C'est ici que tout commence !
    </div>
<div class="contain-form">

  <div class="formulaire">


    <div class="screen-2">
      <%= simple_form_for @roadtrip do |f| %>
        <div class="form-inputs">
          <%= f.input :title, label: 'Nom du RoadTrip' %>
        </div>

          <div class="form-actions">
            <%= f.submit "Créer RoadTrip", class: "btn-signin" %>
          </div>
      <% end %>
    </div>
  </div>


    <div class="imageForm2">
    </div>

</div>
