<div class="container">
  <div>
    <h1> <%= @roadtrip.title %> </h1>
    <div class="card-product-infos-avatars">
      <% @roadtrip.users.each do |user| %>
        <%= cl_image_tag user.photo.key, class: "avatar-bordered" %>
      <% end %>
    </div>
  </div>
  <div class="show-roadtrip-core">
    <div class="roadtrip-itineraries">
      <div class="roadtrip-itineraries-top-infos">
        <h2>Itinéraires</h2>
        <p>Ajouter un participant</p>
      </div>
      <div class="card-map-grid">
        <div class="card-map">
          <div class="card-map-content">
            <img src="https://amtlarochelle.com/wp-content/uploads/2015/03/trajet.jpg" alt="L'itinéraire du jour">
          </div>
          <div class="card-map-bottom">
            <div class="card-map-bottom-left">
              <p>438 km</p>
            </div>
            <div class="card-map-bottom-middle">
              <p>Jour 1</p>
            </div>
            <div class="card-map-bottom-right">
              <p>4h52</p>
            </div>
          </div>
        </div>


        <div class="card-map">
          <div class="card-map-content">
            <img src="https://amtlarochelle.com/wp-content/uploads/2015/03/trajet.jpg" alt="L'itinéraire du jour">
          </div>
          <div class="card-map-bottom">
            <div class="card-map-bottom-left">
              <p>238 km</p>
            </div>
            <div class="card-map-bottom-middle">
              <p>Jour 2</p>
            </div>
            <div class="card-map-bottom-right">
              <p>2h35</p>
            </div>
          </div>
        </div>

        <div class="card-map">
          <div class="card-map-content">
            <img src="https://amtlarochelle.com/wp-content/uploads/2015/03/trajet.jpg" alt="L'itinéraire du jour">
          </div>
          <div class="card-map-bottom">
            <div class="card-map-bottom-left">
              <p>389 km</p>
            </div>
            <div class="card-map-bottom-middle">
              <p>Jour 3</p>
            </div>
            <div class="card-map-bottom-right">
              <p>3h49</p>
            </div>
          </div>
        </div>

          <div class="card-map-add">
          <% add_itinerary =  '<i class="fas fa-plus plus-fa"></i>' %>
          <%= link_to add_itinerary.html_safe, roadtrip_itineraries_path(@roadtrip) %>
          </div>
      </div>
    </div>

    <div class="checklist">
      <div class="rectangle-test">
        <p>présent pour tester le placement des divs</p>
      </div>
    </div>
  </div>

</div>
