<div class="container">
  <div>
    <h1> <%= @roadtrip.title %> </h1>
    <div class="card-product-infos-avatars">
      <% @roadtrip.users.each do |user| %>
        <%= cl_image_tag user.photo.key, class: "avatar-bordered" %>
      <% end %>
    </div>
  </div>
  <div class="show-roadtrip-core">
    <div class="roadtrip-itineraries">
      <div>
        <h2>Itinéraires</h2>
        <p>Ajouter un participant</p>
      </div>
      <div class="card-map">
        <div class="card-map-top">
          <h2><%= @roadtrip.title %></h2>
        </div>
        <div class="card-map-content">
          <img src="https://amtlarochelle.com/wp-content/uploads/2015/03/trajet.jpg" alt="L'itinéraire du jour">
        </div>
        <div class="card-map-bottom">
          <p>Distance</p>
          <p>Jour</p>
          <p>Durée</p>
        </div>
      </div>
    </div>

    <div class="checklist">
      <div class="rectangle-test">
        <p>présent pour tester le placement des divs</p>
      </div>
    </div>
  </div>

</div>
