// Specific CSS for your home-page
.contain-homepage{
  overflow-x: hidden;
}


.banner{
background-image: asset-url('img-homepage.jpeg'), linear-gradient(90deg, rgba(2,0,36,0.6054796918767507) 0%, rgba(0,0,0,0.09007352941176472) 99%, rgba(0,0,0,0) 100%);;
background-size: cover;
background-position: center;
height: 550px;
margin-top: -73px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
font-family: 'Work Sans', sans-serif;
position: relative;
}

.title-banner h1{
  font-size: 90px;
  letter-spacing: 3px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.title-banner span{
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.trans{
     width: 100vw;
    background-color: #f4f4f4;
    height: 100px;
    transform: skew(3deg, -3deg);
    position: absolute;
    bottom: -52px;
}

.cards-contain{
  margin-top: 130px;
  margin-bottom: 350px;
  display: flex;
  justify-content: center;
}

.sous-titre{
  color: white;
}
.card{
  width: 195px;
  height: 221px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 30px;
  border-radius: 10px;
} p{
  text-align: center;
}
.card-link:hover{
  text-decoration: none;
}

.card h3{
  color: #84A98C;
} i{
  font-size: 35px;
  color: black;
}

.descript-card{
  color: black;
}

.ameuble{
  height: 700px;
  background-color: #52796F;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.citation{
  background-color: #f4f4f4;
  height: 110px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-tag{
  background-color: #5c857b;
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 80%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.undraw{
  height: 200px;
}


.trans2{
  width: 100vw;
  background-color: #52796F;
  height: 100px;
  transform: skew(3deg, -3deg);
  position: absolute;
  top: -48px;
}

.texte{
  display: flex;
  flex-direction: column;
  align-items: center;
}
