.itineraries {
  display: grid;
  grid: 1fr 1fr;
  width: 50%;
}
.show-roadtrip-core {
  display: flex;
  width: 100%;
}
.roadtrip-itineraries-top-infos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.show-roadtrip-top {
  display: flex;
  justify-content: space-between;
}
