.container-show-map {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}
.one {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color:white;
  height: 90vh;
  width: 100%;
}
.two {
  background-color: grey;
  height: 90vh;
  width: 100%;
}
.infos-itinerary {
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.one h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
#distance {
  padding: 10px;
}
#duration {
  padding: 10px;
}
.form-show {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 10px;
}
.step {
  text-align: start !important;
  margin-top: 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.steps {
  width: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px 20px;
  border-radius: 4px;
}
.trash-show-map {
  font-size: 0.8em;
  margin-right: 5px;
  color: lightgray;
  &:hover {
    color: #D99912;
  }
}
.strong-show {
  color: #84A98C;
  font-size: 18px;
}
.marker-show-map {
  font-size: 1.5em;
  margin-right: 5px;
  color: #84A98C;
  &:hover {
    color: #52796F;
  }
}
