.container-show-map {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}
.one {
  background-color:white;
  height: 90vh;
  width: 100%;
}
.two {
  background-color: grey;
  height: 90vh;
  width: 100%;
}
