<div class="container">
  <%= simple_form_for [@roadtrip, @partner] do |f| %>
    <% ids = current_user.friends.difference(@roadtrip.users).map {|friend| [friend.username, friend.id]} %>
    <%= f.input :user, collection: ids , label: "", as: :check_boxes, required: false %>
    <%= f.submit %>
  <% end %>
</div>
