<div id="myBtn" class="discover-nav-link nav-link mr-2">Messagerie</div>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>
</div>
