<div class="container friends">
  <% @friendships.each do |friendship| %>
    <ul>
      <% if friendship.requester == current_user %>
        <li><p>  <%= cl_image_tag friendship.addressed.photo.key, class: "avatar-bordered" %> <%= friendship.addressed.first_name %> <%= friendship.addressed.last_name %> <%= friendship.addressed.username %>  </p> </li>
      <% end %>
    </ul>
  <% end %>
</div>
