<div class="container-hp">

  <div class="banner">

    <div class="title-banner">
      <h1>DISCOVER</h1>
      <p>Plan roadtrip with friends</p>
    </div>
  <div class="trans"></div>
  </div>


  <div class="cards-contain">

    <div class="card">
      <i class="fas fa-users"></i>
      <h3>Connecte toi</h3>
      <p>Connecte toi sur l'application</p>
    </div>
    <div class="card">
    <i class="far fa-handshake"></i>
      <h3>Partage</h3>
      <p>Invite tes amis à rejoindre le trip</p>
    </div>
    <div class="card">
      <i class="fas fa-map-marked-alt"></i>
      <h3>Roadtrip</h3>
      <p>Plannifiez votre voyage, de l'itinéraire à la checklist</p>
    </div>
    <div class="card">
      <i class="fas fa-motorcycle"></i>
      <h3>Roule</h3>
      <p>Partez vivre votre aventure</p>
    </div>
  </div>


  <div class="ameuble"></div>
</div>
