.button-green {
  background-color: #84A98C;
  background-size: auto;
  text-align: center;
  border-radius: 4px;
  color: white;
  margin-bottom: 12px;
  &:hover {
    text-decoration: none;
    color: white;
    transition: 1s;
    background-color: #52796F;
  }
}
