a {
  text-decoration: none;
}

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
}
.card-product-container {
  width: 100%;
  text-align: center;
}

.card-product-infos-text {
  display: flex;
  justify-content: space-between;
  p {
    background-color: #D99912;
    border-radius: 8px;
    text-align: center;
    background-size: auto;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    font-size : 16px !important;
  }
  h2 {
    margin-bottom: 8px;
    margin-left: 80px !important;
    font-size: 20px !important;

  }
}

.card-product-infos-text-terminer {
  display: flex;
  justify-content: space-between;
  p {
    background-color: #C8C8C8;
    border-radius: 8px;
    text-align: center;
    background-size: auto;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    font-size : 16px !important;
  }
  h2 {
    margin-bottom: 8px;
    margin-left: 80px !important;
    font-size: 20px !important;
  }
}


.card-product-infos-avatars {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid black;
}

.card-product-infos-avatars img {
  margin-right: 20px;
  margin-bottom: 24px;
}

.card-product > img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
  height: 50%;
}

.card-product .card-product-bottom {
  padding: 16px;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.card-product-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 150px;
  text-align: end;
}

.card-product-bottom-infos {
  text-align: start;
}
