a:hover {
  text-decoration: none !important;
}

.card-product {
  position: relative;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 32px 8px;
  overflow: hidden;
}

.card-product-owner {
  position: relative;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 32px 8px;
  overflow: hidden;
}

.card-product-owner:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 70px 70px 0;
  border-color: transparent #E4B85A transparent transparent;
  right: 0;
  top: 0;
  position: absolute;
}

.card-product-owner h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-owner p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-owner .card-product-infos {
  padding: 16px;
  width: 100%;
  height: 50%;
}

.card-product-owner .card-product-bottom {
  padding-bottom: 16px;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.card-product-container {
  width: 100%;
  text-align: center;
}

.card-product-infos-text {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  p {
    background-color: #5C846A;
    border-radius: 4px;
    text-align: center;
    background-size: auto;
    color: white;
    padding: 4px 16px;
    font-size : 16px !important;
    margin-right: 30px;
  }
  h2 {
    margin: 8px 0px !important;
    font-size: 20px !important;
  }
}

.card-product-infos-text-terminer {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  p {
    background-color: #C4C4C4;
    border-radius: 4px;
    text-align: center;
    background-size: auto;
    color: white;
    padding: 4px 16px;
    font-size : 16px !important;
    margin-right: 30px;
  }
  h2 {
    margin: 8px 0px !important;
    font-size: 20px !important;
  }
}


.card-product-infos-avatars {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid black;
}

.card-product-infos-avatars img {
  margin-right: 20px;
  margin-bottom: 16px;
}

.card-img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
  height: 50%;
}

.card-product .card-product-bottom {
  padding-bottom: 16px;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.card-product-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 150px;
  text-align: end;
  margin-right: 16px;
}

.card-product-bottom-infos {
  text-align: start;
  margin-left: 16px;
}

#calendrier-fa {
  font-size: 18px;
  margin-left: 2px;
  margin-right: 16px;
}

#road-fa {
  font-size: 18px;
  margin-right: 16px;
}

.eye-fa {
  font-size: 18px;
  margin-right: 3px;
  margin-bottom: 4px;
  color: black;
}

.trash-fa {
  font-size: 18px;
  color: black;
  margin-bottom: 18px;
  margin-right: 5px;
}
.plus-fa {
  color: white;
  font-size: 24px;
}

.card-map {
  height: 200px;
  width: 250px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px 24px;
  border-radius: 4px;
}


.card-map-content img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.card-map-bottom {
  display: flex;
  justify-content: space-evenly;
  color: black;
}

.card-map-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-map-bottom-middle {
  width: 33%;
  background-color: #84A98C;
}

.card-map-bottom-right {
  width: 33%;
}

.card-map-bottom-left {
  width: 33%;
}

.card-map-add {
  height: 200px;
  width: 250px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px 24px;
  border-radius: 4px;
  background-color: #84A98C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-map-avatars {
  display: flex;
  justify-content: start;
}

.card-map-avatars img {
  margin-right: 20px;
  margin-bottom: 16px;
}
