.contain-form{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.imageForm2{
  background: url("for-simple-form3.jpg") center no-repeat;
  background-size: cover;
  width: 585px;
  height: 100vh;
}

.formulaire{
  width: 600px;
  margin-left: 300px;

}

.form-inputs{
  font-size: 25px;
  margin-bottom: 15px;
}

.petit-mot{
  position: absolute;
  margin: 125px 20px;
  transform: skew(20deg, -40deg);
  color: rgba(128, 128, 128, 0.316);
  font-size: 20px;
}
