.contain-form{
  display: flex;
  justify-content: space-between;
}

.imageForm2{
  background: url("for-simple-form3.jpg") center no-repeat;
  background-size: cover;
  width: 585px;
  height: 100vh;
}

.formulaire{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.form-inputs{
  font-size: 25px;
  margin-bottom: 15px;
}

.contain-formulaire{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
}
